@import "variables.scss";

.setting-page {
  @include FLEX-COLUMN;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  min-height: rem(65);
  min-width: rem(100);
  padding-top: rem(80);
  .bottom-side {
    display: flex;
    padding-top: 36px;
  }
  .left-side {
    width: rem(500);
  }
  .right-side {
    width: rem(500);
    padding-left: rem(46);
  }
}