@import 'variables.scss';

.api-add-content-right {
  @include FLEX-COLUMN;
  @include STRETCH;
  flex: 1;
  align-items: center;

  .content-section {
    flex: 1;
    align-items: center;
    @include STRETCH;
    @include FLEX-COLUMN;

    .content-right-title {
      font-size: rem(24);
      font-family: $eng-title;
    }

    .content-right-box {
      @include STRETCH;
      padding: rem(16);
      border: 1px solid $light-gray;
      border-radius: rem(12);

      .content-right-boxtitle-wrapper {
        width: 100%;
        @include FLEX-ALIGN-CENTER;

        .content-right-boxtitle {
          width: 100%;
          font-size: rem(20);
          @include FLEX-CENTER;

          &.static {
            flex-shrink: 0;
            width: rem(200);
            border-right: 1px solid $light-gray;
          }
        }
      }
    }

    .content-right-boxcontent-wrapper {
      @include STRETCH;
      @include FLEX-COLUMN;
      padding: rem(14) 0;

      .content-right-normal-boxcontent {
        @include FLEX-ALIGN-CENTER;
        width: 100%;

        .content-right-boxcontent-input {
          @include STRETCH;
          padding-left: rem(6);
          font-size: rem(18);
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $light-gray;

          &::placeholder {
            color: $light-gray;
            font-size: rem(18);
          }
        }
      }
      .content-right-detail-boxcontent {
        @include STRETCH;
        overflow: auto;

        .datatype-add-brace {
          font-size: rem(20);

          &.second {
            margin-left: rem(20);
          }
        }

        .attr-div {
          @include FLEX-ALIGN-CENTER;
          margin-left: rem(20);

          &.second {
            margin-left: rem(40);
          }

          .attr-type-button {
            margin-right: rem(10);
            padding: rem(6);
            font-weight: bold;
            font-size: rem(16);
            background-color: $fourth;
            border-radius: rem(5);
          }

          .attr-type-name {
            height: rem(32);
            font-size: rem(18);
            font-family: $eng-content;
            background-color: transparent;
            border: none;
          }
        }
      }
    }
  }

  .datatype-wrapper {
    flex-shrink: 0;
    width: rem(200);
    overflow: hidden;
    white-space: nowrap;

    @include FLEX-CENTER;
  }
  .datatype-block {
    flex-shrink: 0;
    padding: rem(6);
    font-weight: bold;
    font-size: rem(16);
    background-color: $fourth;
    border-radius: rem(5);
  }
}
