@import 'variables.scss';

.member-control {
  padding-bottom: rem(25);
  color: $primary;
  font-size: 32px;
  font-family: $kor;
}
.profile-image {
  width: rem(57);
  height: rem(57);
  border-radius: 70%;
}
.team-member {
  @include FLEX-ALIGN-CENTER;
  position: relative;
  margin-bottom: rem(17);
  transition: 0.2s ease;

  &:hover {
    background-color: $light-gray;
    .profile-delete-button {
      opacity: 1;
    }
  }
}
.profile-name {
  padding-left: rem(10);
  word-break: break-all;
}
.member-scroll {
  margin-top: rem(6);
  overflow-y: scroll;
}

.member-search-input {
  width: 95%;
  margin-bottom: rem(10);
  padding: rem(6);
  font-size: rem(14);
  border: 1px solid $lightx2-gray;
  border-radius: rem(14);
}

.profile-delete-button {
  position: absolute;
  top: 50%;
  right: 10px;
  color: $black;
  font-size: rem(14);
  transform: translate(0, -50%);
  cursor: pointer;
  opacity: 0;
  transition: 0.2s ease;

  &:hover {
    color: $delete;
  }

  &.hidden {
    display: none;
  }
}
