@import 'variables.scss';

.category-list-container {
  @include BORDER-PAPER;
  position: fixed;
  align-items: center;
  width: 100%;
  max-height: rem(250);
  padding: rem(12) rem(12);
  overflow-y: auto;
  border-top: initial;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: $shadow;

  .category-list-overflow {
    @include STRETCH;
    @include FLEX-COLUMN;
  }

  .category-search-input {
    width: 100%;
    height: rem(30);
    padding: rem(6);
    color: $black;
    font-family: $eng-content;
    border: 1px solid $light-gray;
    border-radius: 30px;

    &::placeholder {
      color: $light-gray;
    }
  }
  .category-row {
    position: relative;
    width: 100%;
    height: rem(28);
    padding: rem(6) 0;
    overflow: hidden;
    color: $gray;
    font-size: rem(14);
    font-family: $eng-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: 0.3s ease;
    @include FLEX-CENTER;
    &:hover {
      color: $black;
      font-weight: bold;
      .category-delete-button {
        opacity: 1;
      }
    }

    &.select {
      color: $black;
      font-weight: bold;
    }

    .category-delete-button {
      position: absolute;
      top: 5px;
      right: 0;
      color: $delete;
      font-size: rem(16);
      opacity: 0;
      transition: 0.3s ease;
    }
  }
}
.category-list-empty {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: transparent;
  @include STRETCH;
}
