@import 'variables.scss';

.erd-container {
  width: 100%;
  height: 100vh;
  padding: rem(88) rem(30) rem(30) rem(30);
  @include FLEX-COLUMN;

  .erd-title {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: rem(36);
  }

  .erd-info-section {
    width: 100%;
    @include FLEX-BETWEEN;

    .erd-project-title {
      margin-top: rem(10);
      color: $primary;
      font-size: rem(20);
      font-family: $eng-title;
    }

    .erd-save-button {
      @include CIRCLE-BTN;
      @include BTN-COLOR($third);
      width: rem(50);
      height: rem(50);
      font-size: rem(24);
    }
  }

  .erd-tool {
    @include STRETCH;
    @include FLEX-COLUMN;
    position: relative;
    align-items: center;
    margin-top: rem(10);
    overflow-y: hidden;
    background-color: $pure-white;
    border-radius: 20px;
    box-shadow: $shadow;
  }
}
