@import "variables.scss";

.project-member {
  .member-control {
    color: $primary;
    font-size: 32px;
    font-family: $kor;
    padding-bottom: rem(25);
  }
  .profile-image {
    height:rem(57);
    width:rem(57);
    border-radius: 70%;
  }
  .team-member {
    display: flex;
    align-items: center;
    padding-bottom : rem(17);
  }
  .profile-name {
    padding-left: rem(10);
  }
  .member-scroll {
    overflow-y: scroll;
    height: rem(363);
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}