@import "variables.scss";

.project-period {
  padding-top: rem(22);
  .period-length {
    color: $primary;
    font-size: 32px;
    font-family: $kor;
  }
  .detail-word {
    padding-top: rem(10);
    font-size: 20px;
    font-family: $eng-content;
  }
}