@import 'variables.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(70);
  background-color: black;
}

.requirement-container {
  width: 100%;
  height: 100vh;
  padding: rem(80) rem(30) rem(30) rem(30);
  @include FLEX-COLUMN;

  .requirement-title {
    margin-top: rem(40);
    font-weight: bold;
    font-size: rem(36);
  }

  .requirement-info-section {
    width: 100%;
    @include FLEX-BETWEEN;

    .requirement-project-title {
      margin-top: rem(16);
      color: $primary;
      font-size: rem(20);
      font-family: $eng-title;
    }

    .requirement-save-button {
      @include CIRCLE-BTN;
      @include BTN-COLOR($third);
      width: rem(50);
      height: rem(50);
      font-size: rem(24);
    }
  }

  .requirement-table-section {
    @include STRETCH;
    @include FLEX-COLUMN;
    align-items: center;
    margin-top: rem(30);
    overflow-y: hidden;
    background-color: $pure-white;
    border-radius: 20px;
    box-shadow: $shadow;

    .table-title-article {
      width: 100%;
      // padding-right: 8px;
      @include FLEX-BETWEEN;
    }

    .table-content-article {
      @include STRETCH;
      @include FLEX-COLUMN;
      align-items: center;
      overflow-y: auto;
    }

    .table-row {
      width: 100%;
      @include FLEX-BETWEEN;
    }

    .table-row + .table-row {
      border-top: 1px solid $light-gray;
    }

    .table-col {
      padding: rem(10) rem(24);
      width: 100%;
      word-break: break-all;
      border-radius: 20px;
      @include FLEX-CENTER;

      &.title {
        height: rem(40);
        font-size: rem(20);
        font-family: $eng-title;
        // white-space: nowrap;
        background-color: $third;
      }

      &.content {

        margin: 0 rem(12);
        padding: rem(10) rem(12);
        font-size: rem(14);
        font-family: $eng-content;
      }

      &.one {
        flex: 0.08;
      }
      &.one-half {
        flex: 0.12;
      }
      &.two {
        flex: 0.26;
      }

      &.category-container {
        position: relative;
      }

      &.textarea {
        border: 1px solid $lightx2-gray;
        border-radius: rem(6);

        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
      }

      .desc-block {
        padding: rem(4) rem(6);
        background-color: $light-gray;
        border-radius: 4px;
        @include FLEX-ALIGN-CENTER;

        &.FE {
          background-color: $FE;
        }
        &.BE {
          background-color: $BE;
        }
        &.COMMON {
          background-color: $COMMON;
        }
      }

      .double-chevron {
        position: relative;
        svg {
          position: absolute;
          top: -3px;
          left: 0;
          transform: translate(-50%, -50%);
        }

        svg + svg {
          top: 3px;
        }
      }
    }

    .table-more-button {
      @include CIRCLE-BTN;
      flex-shrink: 0;
      width: rem(45);
      height: rem(45);
      margin: rem(6) 0;
      color: $primary;
      font-weight: bold;
      font-size: rem(20);
      border: 1px solid $primary;
      @include BTN-COLOR($pure-white);
    }
  }
}
