@import 'variables.scss';

.apispec-container {
  width: 100%;
  height: 100vh;
  padding: rem(80) rem(30) rem(30) rem(30);
  background-color: $white;
  @include FLEX-COLUMN;

  .apispec-title {
    margin-top: rem(40);
    font-weight: bold;
    font-size: rem(36);
    @include FLEX-ALIGN-CENTER;
  }

  .apispec-info-section {
    width: 100%;
    margin-top: rem(16);
    @include FLEX-ALIGN-CENTER;

    .apispec-project-title {
      margin-right: rem(20);
      color: $primary;
      font-size: rem(20);
      font-family: $eng-title;
      @include FLEX-ALIGN-CENTER;
    }

    .apispec-status-span {
      @include FLEX-ALIGN-CENTER;

      .apispec-status-icon {
        font-size: rem(14);
        &.on {
          color: $get;
        }
        &.off {
          color: $delete;
        }
      }
    }
  }

  .apispec-controller-container {
    width: 100%;
    margin-top: rem(30);
    font-family: $eng-title;
    @include FLEX-BETWEEN;

    .controller-list {
      width: 100%;
      overflow-x: hidden;
      @include FLEX-ALIGN-CENTER;

      .controller-list-overflow {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        @include FLEX-ALIGN-CENTER;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      .controller-block {
        height: rem(40);
        margin-right: rem(12);
        padding: 0 rem(8);
        font-size: rem(18);
        border-top-left-radius: rem(8);
        border-top-right-radius: rem(8);
        cursor: pointer;
        @include BTN-COLOR($fourth);
        @include FLEX-CENTER;

        svg {
          font-size: rem(14);
        }

        .controller-block-edit {
          opacity: 0;
          transition: 0.3s ease;
        }

        &.on {
          background-color: $third;
        }

        &.plus {
          padding: 0 16px;
          border-top-left-radius: rem(8);
          border-top-right-radius: rem(8);
        }

        &:hover {
          .controller-block-edit {
            opacity: 1;
          }
        }
      }
    }

    .datatype-container {
      flex-shrink: 0;
      margin-left: rem(10);
      font-weight: bold;
      font-size: rem(20);
      cursor: pointer;
      transition: 0.3s ease;
      @include FLEX-ALIGN-CENTER;

      &:hover {
        color: $secondary;
        transform: scale(1.03);
      }
    }
  }
}
