@import 'variables.scss';

.docs-container {
  background: linear-gradient(to right, #fff, #ffd7c8);
}
.docs-wrapper {
  padding: rem(100) rem(200);

  .docs-title-container {
    display: flex;
    width: 100%;

    .docs-title {
      border-top-left-radius: rem(15);
      border-top-right-radius: rem(15);
      border: 2px solid $secondary;
      padding: rem(12) rem(18);
      font-size: rem(20);
      border-bottom: none;
      cursor: pointer;
      transition: 0.3s ease;
      background-color: $white;

      &.select {
        background-color: $secondary;
        color: $white;
      }

      &:hover {
        background-color: $secondary;
        color: $white;
      }
    }

    .docs-title + .docs-title {
      margin-left: rem(8);
    }
  }
  .docs-content-container {
    @include FLEX-CENTER;
    .docs-content {
      width: 100%;
      height: 100%;
      background-color: $white;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border: 1px solid $light-gray;
      box-shadow: $light-shadow;
      border-top: none;
    }
  }

  .docs-detail {
    color: gray;
    margin-top: rem(16);
    width: 100%;
    padding-bottom: rem(20);
    border-bottom: 1px solid $lightx2-gray;
  }
  .docs-content {
    padding: rem(40);
  }

  .docs-content > h1 {
    font-size: rem(30);
  }

  .docs-content-item {
    padding: rem(30) 0;
    border-bottom: 1px solid $lightx2-gray;
  }
  .docs-content-item > span {
    display: block;
    margin-top: 7px;
  }

  .docs-content-item > ul {
    margin-top: rem(20);
  }

  .docs-content-item > ul > li {
    margin-top: rem(20);
  }

  .docs-content-item > ul > li > span {
    display: block;
    margin-top: 6px;
    line-height: 1.6;
  }
  .docs-content-item > ul > li > h4 {
    display: block;
    color: $secondary;
    margin-top: 10px;
  }
  .docs-content-item > img {
    width: 60%;
    height: 60%;
    margin: 10px 0 10px 7px;
  }
  .docs-content-item-code {
    // display: inline;
    font-weight: bold;
    background-color: rgb(237, 233, 233);
    border-radius: 3px;
    margin: 7px;
    padding: 10px;
    width: 60%;
  }
  .docs-content-email > li {
    margin-top: 15px;
  }
  a {
    color: $secondary;
    font-weight: bold;
  }
}

.codes-wrapper {
  // width: 100%;
  width: fit-content;
  padding: rem(20);
  background-color: $black;
  color: #6ddcf4;

  .code-item {
    display: flex;
    align-items: center;
    margin: rem(4) 0 rem(4) rem(10);
  }

  .module-name {
    color: #ffb775;
  }
}
