@import 'variables.scss';

.header {
  display: flex;
  overflow-y: hidden;
  background-color: $white;
  opacity: 0.8;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @include FLEX-AROUND;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.head-title {
  align-items: center;
  display: flex;
}

.MY {
  font-family: $eng-title;
  color: $primary;
  font-size: rem(30);
  background-color: transparent;
}

.INI {
  font-family: $eng-title;
  font-size: rem(30);
  background-color: transparent;
}

.logo {
  width: rem(40);
  height: rem(40);
  top: 1%;
}

.nav-button {
  background-color: transparent;
  font-family: $eng-title;
  font-size: rem(20);
  margin-right: rem(20);
  color: $gray;
  padding: 0.5rem;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.nav-button:hover {
  border-bottom: 3px solid $secondary;
  font-weight: bold;
}
