@import "variables.scss";

.title-img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: rem(1000);
  .profile-image {
    height:rem(240);
    width:rem(240);
    border-radius: 20%;
    padding-right: rem(10);
  }
  .project-name {
    color: $primary;
    font-size: 32px;
    font-family: $kor;
  }
  .project-title {
    font-size: 70px;
    @include ELLIPSIS-LINE(1);
  }
}
@media screen and (max-width : 992px) {
  .project-name {
    font-size : 22px;
  }
  .project-title {
    font-size: 55px;
  }
}
 
@media screen and (max-width : 768px) {
  .project-name {
    font-size : 12px;
  }
  .project-title {
    font-size: 42px;
  }
}