@import 'variables.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(70);
  background-color: black;
}

.requirement-container {
  width: 100%;
  height: 100vh;
  padding: rem(88) rem(30) rem(30) rem(30);
  @include FLEX-COLUMN;

  .requirement-stepper-container {
    width: 100%;
    @include FLEX-BETWEEN;

    .stepper-btn-wrapper {
      @include FLEX-COLUMN;
      align-items: center;

      .stepper-btn {
        @include CIRCLE-BTN;
        .stepper-arrow {
          width: 20px;
          height: 20px;
          background-color: transparent;
          border-color: $white;
          border-top: 4px solid $white;
          border-left: 4px solid $white;
          border-radius: 2px;
          content: '';

          &.left {
            transform: rotate(-45deg);
          }
          &.right {
            transform: rotate(135deg);
          }
        }
      }

      .stepper-btn-text {
        color: $primary;
      }
    }
  }

  .requirement-title {
    margin-top: rem(40);
    font-weight: bold;
    font-size: rem(36);
  }

  .requirement-info-section {
    width: 100%;
    @include FLEX-BETWEEN;

    .requirement-project-title {
      margin-top: rem(16);
      color: $primary;
      font-size: rem(20);
      font-family: $eng-title;
    }

    .requirement-save-button {
      @include CIRCLE-BTN;
      @include BTN-COLOR($third);
      width: rem(50);
      height: rem(50);
      font-size: rem(24);
    }
  }

  .requirement-table-section {
    @include STRETCH;
    @include FLEX-COLUMN;
    align-items: center;
    margin-top: rem(30);
    overflow-y: hidden;
    background-color: $pure-white;
    border-radius: 20px;
    box-shadow: $shadow;

    .table-title-article {
      width: 100%;
      padding-right: 8px;
      @include FLEX-BETWEEN;
    }

    .table-content-article {
      @include STRETCH;
      @include FLEX-COLUMN;
      align-items: center;
      overflow-y: auto;
    }

    .table-row {
      width: 100%;
      @include FLEX-BETWEEN;
    }

    .table-row + .table-row {
      border-top: 1px solid $light-gray;
    }

    .table-col {
      padding: rem(10) rem(24);
      border-radius: 20px;
      @include FLEX-CENTER;

      &.title {
        height: rem(50);
        font-size: rem(20);
        font-family: $eng-title;
        background-color: $third;
      }

      &.content {
        font-size: rem(16);
        font-family: $eng-content;
      }

      &.one {
        flex: 0.08;
      }
      &.one-half {
        flex: 0.12;
      }
      &.two {
        flex: 0.26;
      }

      &.category-container {
        position: relative;

        .category-list-container {
          @include BORDER-PAPER;
          position: absolute;
          top: 50px;
          left: 0;
          align-items: center;
          width: 100%;
          max-height: rem(250);
          padding: rem(12) rem(12);
          overflow-y: auto;
          border-top: initial;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          box-shadow: $shadow;
          @include FLEX-COLUMN;

          .category-search-input {
            width: 100%;
            height: rem(30);
            padding: rem(4);
            color: $black;
            font-family: $eng-content;
            border: 1px solid $light-gray;
            border-radius: 30px;

            &::placeholder {
              color: $light-gray;
            }
          }
          .category-row {
            position: relative;
            width: 100%;
            padding: rem(6) 0;
            overflow: hidden;
            color: $gray;
            font-size: rem(14);
            font-family: $eng-content;

            white-space: nowrap;
            text-overflow: ellipsis;
            @include FLEX-CENTER;
            &:hover {
              .category-delete-button {
                opacity: 1;
              }
            }

            .category-delete-button {
              position: absolute;
              top: 5px;
              right: 0;
              color: $delete;
              font-size: rem(16);
              opacity: 0;
              transition: 0.3s ease;
            }
          }
        }
      }

      .desc-block {
        padding: rem(4) rem(6);
        background-color: $light-gray;
        border-radius: 4px;

        &.FE {
          background-color: $FE;
        }
        &.BE {
          background-color: $BE;
        }
        &.COMMON {
          background-color: $COMMON;
        }
      }

      .double-chevron {
        position: relative;
        svg {
          position: absolute;
          top: -3px;
          left: 0;
          transform: translate(-50%, -50%);
        }

        svg + svg {
          top: 3px;
        }
      }
    }

    .table-more-button {
      @include CIRCLE-BTN;
      flex-shrink: 0;
      width: rem(45);
      height: rem(45);
      margin: rem(6) 0;
      color: $primary;
      font-weight: bold;
      font-size: rem(20);
      border: 1px solid $primary;
      @include BTN-COLOR($pure-white);
    }
  }
}
