@import 'variables.scss';

.title-img {
  display:flex;
  width: 100%;

  .profile-img-wrapper{
    width: rem(250);
    height: rem(230);
    border-radius: rem(30);
    flex-shrink: 0;
    position:relative;

    &:hover{
      .profile-img-changer{
        opacity:1;
      }
    }

    .profile-img-changer{
      position:absolute;
      top:0;
      left:0;
      @include STRETCH;
      background-color: rgba(131,131,131,0.2);
      color:$black;
      opacity:0;
      transition: 0.3s ease;
      @include FLEX-CENTER;
      font-size: rem(40);
      border-radius: inherit;
      cursor:pointer;
    }

    .project-profile-img {
      @include STRETCH;
      border-radius: inherit;
    }
  }


  .project-info-container{  
    width:100%;
    display:flex;
    align-items: flex-end;
    margin-left: rem(10);

    .project-edit-button-wrapper{
      width:100%;
      @include FLEX-ALIGN-RIGHT;
    }
  }

  .project-detail-title {
    font-size: rem(70);
    font-weight: bold;
    font-family: $eng-title; 
    border:none;
    width:100%;
    border-bottom: 4px solid $secondary;
    // @include ELLIPSIS-LINE(1);
    background-color: transparent;
    &.edit{
      background-color: $pure-white;
      border:1px solid $lightx2-gray;
      border-radius: rem(14);
    }
  }
}
// @media screen and (max-width: 992px) {
//   .project-name {
//     font-size: 22px;
//   }
//   .project-title {
//     font-size: 55px;
//   }
// }

// @media screen and (max-width: 768px) {
//   .project-name {
//     font-size: 12px;
//   }
//   .project-title {
//     font-size: 42px;
//   }
// }

