$primary: #F26B3A;
$secondary: #FF865A;
$third: #FCAF92;
$fourth: #FFE6DC;

$black: #393939;
$gray : #838383;
$light-gray : #dedede;
$lightx2-gray:#efefef;
$pure-white:#ffffff;
$white: #fbfbfb;
$jira:#3883E6;
$light-jira:#CBDFFA;

$FE:#D3E5EF;
$BE:#FBC9C9;
$COMMON:#ECD8F2;

$get:#92C68D;
$post:#B6CBFF;
$put:#FCAF92;
$delete:#FF6E6E;
$patch:#FFC5C5;
$code : #DFF7FF;

$imp1:#FF5630;
$imp2:#FF7452;
$imp3:#FFAB00;
$imp4:#2684FF;
$imp5:#0065FF;

$kor: "AppleNeoB"; //한글 포함 폰트

$eng-title: "Multicolore"; //영어 제목 (오직 대문자)
$eng-content: "Gmarket"; //영어 본문

// 그림자
$shadow: 0 4px 4px rgba(131, 131, 131, 0.2);
$light-shadow:2px 2px 0px rgba(131, 131, 131, 0.2);

//px을 파라미터로 넘기면 rem으로 변환
@function rem($px) {
  @return #{$px/16}rem;
}

@mixin FLEX-CENTER() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin FLEX-AROUND() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin FLEX-COLUMN() {
  display: flex;
  flex-direction: column;
}

@mixin FLEX-BETWEEN() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin FLEX-ALIGN-CENTER() {
  display: flex;
  align-items: center;
}

@mixin FLEX-ALIGN-RIGHT(){
  display:flex;
  width:100%;
  justify-content: flex-end;
}

@mixin STRETCH() {
  width: 100%;
  height: 100%;
}

@mixin BTN-COLOR($bgcolor) {
  background-color: $bgcolor;
  transition: 0.3s ease;

  &:hover {
    background-color: darken($bgcolor, 10%);
  }
}

@mixin SUBMIT-BTN() {
  width: 100%;
  padding: rem(6) rem(12);
  transition: 0.3s ease;
  font-size: rem(24);
  color:$white;
  font-family: $eng-content;
  border-radius: rem(15);
  @include BTN-COLOR($primary);
  @include FLEX-CENTER();
}

@mixin CIRCLE-BTN() {
  color: $white;
  width: rem(60);
  height: rem(60);
  border-radius: 60px;
  @include FLEX-CENTER();
  @include BTN-COLOR($primary);
}

@mixin WHITE-BTN() {
  border-radius: 5px;
  background-color: $white;
  font-size: rem(20);
  background-color: $white;
  color: $black;
  border: 1px solid $secondary;
  transition:0.3s ease;
  @include FLEX-CENTER();

  &:hover{
    background-color: $secondary;
    color:$white;
  }
}

@mixin METHOD-BLOCK($method){
  padding: rem(6) rem(18);
  font-size: rem(18);
  font-family: $eng-title;
  border-radius: rem(5);
  background-color: $method;
}

@mixin ELLIPSIS-LINE($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line; //라인수 정함
  -webkit-box-orient: vertical;
}

@mixin BORDER-PAPER() {
  padding: 20px;
  border-radius: 20px;
  background-color: $white;
  border: 2px solid $third;
}

@mixin ADD-BUTTON() {
  @include FLEX-CENTER;
  width: rem(30);
  height: rem(30);
  margin-top: rem(10);
  padding: rem(10);
  color: $white;
  font-size: rem(18);
  background-color: $secondary;
  border: 2px solid $secondary;
  border-radius: 30px;
  transition: 0.3s ease;

  &:hover {
    color: $black;
    font-weight: bold;
    background-color: $pure-white;
  }
}