@import 'variables.scss';

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: rem(70);
  background-color: $white;
  border-bottom: solid 1px $lightx2-gray;
  @include FLEX-BETWEEN;
}
.empty-space {
  content: '';
}

.dropdown {
  position: absolute;
  right: 0;
  display: inline-block;
  margin-right: rem(30);
}

.profile-default-img {
  @include FLEX-CENTER;
  width: rem(40);
  height: rem(40);
  color: $primary;
  font-size: rem(20);
  background-color: $fourth;
  border-radius: 50%;
}

.profile-google-img {
  @include FLEX-CENTER;
  width: rem(50);
  height: rem(50);
  overflow: hidden;
  color: $primary;
  font-size: rem(20);
  background-color: $fourth;
  border-radius: 50%;

  .profile-google-img-url {
    width: 100%;
    height: 100%;
  }
}

.dropdown-content {
  @include FLEX-COLUMN;
  background-color: $pure-white;
  box-shadow: $shadow;
  // @include BORDER-PAPER;
  position: absolute;
  right: 1%;
  z-index: 1; /*다른 요소들보다 앞에 배치*/
  display: none;
  padding: rem(10);
  font-weight: 400;
  border-radius: rem(10);
}

.dropdown-content p {
  display: block;
  padding: 6px 12px;
  color: rgb(37, 37, 37);
  font-size: 12px;
  font-family: $eng-content;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
  @include FLEX-CENTER;

  &:hover {
    font-weight: bold;
    background-color: $fourth;
    border-radius: rem(10);
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}
