@import 'variables.scss';

.rowmodal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: transparent;
  @include STRETCH;

  .rowmodal-content-container {
    @include BORDER-PAPER;
    @include FLEX-COLUMN;
    position: fixed;
    align-items: center;
    padding: rem(10) rem(16);
    border-radius: rem(14);

    .rowmodal-menu {
      @include FLEX-CENTER;
      margin: rem(6) 0;
      color: $gray;
      font-size: rem(14);
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
    }
  }
}
